@keyframes y{
	from{
		width:3%;
		display:none;
	}
	to{
		display:block;
	}
}
@keyframes h{
	from{
		background:none;
		color:#fff;
	}
	to{
		background:#fff;
		color:#000;
	}
}
@keyframes n{
	from{
		 background:#fff;
	}
	to{
		background:#ccc;
	}
}
@keyframes m{
	from{
		opacity: 0.8;
	}
	to{
		opacity: 1;
		transform: scale(1.2,1.2);
	}
}
@keyframes k{
	from{
		width:6%;
	}
	to{
		width:13%;
	}
}
@keyframes o{
	from{
		background:#F1AD48;

	}
	to{
		background:#7C4C4C;
	}
}

.sou_loading{
	width: 80%;
	height: 100%;
	position: fixed;
	z-index: 99999;
	font-size: 5em;
	color: #DDA767;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1; /* 限制在一个块元素显示的文本的行数 */
	-webkit-box-orient: vertical; /* 垂直排列 */
	word-break: break-all;  /* 内容自动换行 */
	background: #F0F8FF;
	padding: 0 10%;
	display: none;
}
