* {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
}

.nofloat {
	clear: both;
}


/*侧边栏*/

.cebian {
	width: 4%;
	height: 850px;
	position: fixed;
	background: #000;
	margin-left: 100%;
}


/*返回顶部按钮*/

.btn-top {
	position: fixed;
	z-index: 999;
	top: 650px;
	left: 94%;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #fff;
	border: 1px solid #ccc;
}

.btn-top img {
	padding-left: 8px;
	position: relative;
	top: 6px;
}

.btn-top:hover {
	animation: n .5s;
	animation-fill-mode: forwards;
}


/*回复窗口*/

.post-back-div {
	width: 23%;
	height: 328px;
	background: url(../img/qipao.png);
	background-size: 100%;
	position: absolute;
	top: 760px;
	left: 40%;
	z-index: 99999;
	color: #fff;
	line-height: 27px;
	display:none;
}

.post-back-div img {
	width: 9%;
	float: left;
	margin-left: 10%;
	margin-top: 16px;
	vertical-align: middle;
}

.post-back-div h3 {
	font-weight: 400;
	margin-top: 14px;
}

.post-back-div p {
	width: 80%;
	margin: 0 auto;
	text-indent: 30px;
}

.post-back-div span {
	width: 35%;
	margin: 0 auto;
	height: 34px;
	background: #FFFFFF;
	line-height: 34px;
	text-align: center;
	color: #000;
	display: block;
	font-size: 15px;
	font-weight: 200;
	border-radius: 4px;
	cursor: pointer;
}

.post-back-div span:hover {
	animation: n .5s;
	animation-fill-mode: forwards;
}

/*蒙版*/
.mengban-div{
	position:absolute;
	width:100%;
	height:1651px;
	background:#ccc;
	opacity: 0.6;
	z-index: 9999;
	display: none;
}
/*page1*/

.page {
	width: 100%;
	background: aliceblue;
}

.page .nav-div {
	width: 100%;
	height: 70px;
	background: #fff;
	position: fixed;
	z-index: 10;
	box-shadow: 0 1px 15px #ccc;
}

.page nav {
	width: 75%;
	margin: 0 auto;
	height: 70px;
	min-height: 40px;
	background: #fff;
}

.page nav img {
	width: 10%;
	float: left;
	margin-top: 10px;
}

.page nav ul {
	width: 65%;
	margin-left: 35%;
	text-align: center;
}

.page nav ul li {
	float: left;
	width: 16.66%;
	line-height: 70px;
	cursor: pointer;
}

.page nav ul li a {
	color: #000;
	font-size: 20px;
	font-family: "微软雅黑";
	text-decoration: none;
}

.page nav ul li:hover a {
	color: #f1ad48;
}

.page nav ul li:hover span {
	animation: y 0.5s;
	display: block;
}

.page nav ul li span {
	width: 55%;
	margin: 0 auto;
	display: none;
	margin-top: -15px;
	border-bottom: 2px solid #7c4c4c;
}

.page nav ul li #short {
	width: 30%;
}

.page nav ul li #short6 {
	display: block;
}


/**/

section .banner {
	width: 100%;
	height: 400px;
	position: relative;
	top: 63px;
}

section .banner img {
	width: 100%;
	height: 400px;
}

section .text-div {
	width: 30%;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
}

section .text-div img {
	width: 7%;
}

section .text-div h1 {
	font-size: 30px;
	margin: 15px 0;
}

section .text-div {
	width: 30%;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
}

section .text-div img {
	width: 7%;
}

section .text-div h1 {
	font-size: 30px;
	margin: 15px 0;
}

section .contact-div {
	width: 100%;
}

section .contact-div .map {
	margin: 80px 0 80px 14%;
	float: left;
	width: 40%;
	overflow: hidden;
}

section .contact-div .map iframe {
	margin-top: -32px;
}

section .contact-div .contact-imformation {
	margin-top: 80px;
	float: left;
	width: 40%;
	margin-left: 3%;
}

section .contact-div .contact-imformation p {
	font-size: 18px;
}

section .contact-div .contact-imformation input {
	width: 70%;
	height: 45px;
	border-radius: 4px;
	border: none;
	margin: 15px 0;
}

section .contact-div .contact-imformation button {
	font-size: 18px;
	height: 50px;
	width: 15%;
	background: #F1AD48;
	color: #fff;
	margin-left: 55%;
	margin-top: 45px;
	border: none;
	cursor: pointer;
}

section .contact-div .contact-imformation button:hover {
	animation: o .5s;
	animation-fill-mode: forwards;
}

footer {
	width: 100%;
	height: 390px;
	line-height: 27px;
	background: #f6f5f2;
}

footer>div {
	float: left;
	margin-left: 13%;
	width: 21%;
}

footer>div h2 {
	font-weight: 300;
	margin: 35px 0;
	font-size: 23px;
}

footer .f-about img {
	width: 40%;
	margin: 25px 0;
}

footer .f-fuwu {
	margin-left: 4%;
}

footer .f-fuwu ul li {
	padding: 15px 0;
	width: 100%;
	border-bottom: 1px dotted #000;
}

footer a {
	text-decoration: none;
	color: #000;
}

footer a:hover {
	color: #F1AD48;
}

footer .f-fuwu ul li a span {
	display: inline-block;
	vertical-align: middle;
	border-left: 4px dashed;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
}

footer .f-kinds {
	margin-left: 10%;
}

footer .f-kinds ul li {
	padding: 15px 0;
	border-bottom: 1px dotted #000;
}

footer .f-kinds ul li:nth-child(3) {
	border-bottom: none;
}

footer .f-kinds ul li a:hover img {
	opacity: 1;
}

footer .f-kinds img {
	width: 27%;
	float: left;
	margin-right: 25px;
	opacity: 0.7;
}

footer .f-kinds p {
	font-size: 17px;
}

footer .f-kinds span {
	font-size: 12px;
	padding: 7.5px 0;
}

footer .banquan {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #fff;
	margin-left: 0;
}